@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/assets/images/gradient-header.svg'),
    url('/assets/images/gradient-footer.svg');
  background-position: center top, center bottom;
  @apply bg-main-white dark:bg-black text-onyx dark:text-white font-inter bg-no-repeat min-h-screen;
}

.navbar-container {
  @apply flex justify-center w-full z-50;
}

.navbar {
  @apply hidden md:flex fixed mt-8 p-4 justify-between items-center flex-shrink-0 rounded-xl backdrop-blur-xs bg-white-25% dark:bg-dark-navbar border-2 border-white-25% dark:border-0 text-onyx dark:text-light-grey;
  width: 1024px;
  height: 60px;
}

.navbar-item {
  @apply flex gap-6 items-center;
}

.vertical-divider {
  width: 1px;
  height: 24px;

  @apply bg-light-grey dark:bg-white-25%;
}

.navbar-mobile {
  @apply flex md:hidden fixed bottom-10 w-11/12 items-center justify-around bg-white-25% dark:bg-dark-navbar border-2 border-white-25% dark:border-0 text-onyx dark:text-light-grey p-2 rounded-2xl z-50;
}

.navbar-mobile .active {
  @apply bg-black-50% dark:bg-white-10% p-2 px-3 rounded-full;
}

.main {
  @apply flex justify-center mt-32 md:mt-56 relative;
}

.hero {
  @apply flex w-11/12 md:w-4/5 h-96 flex-col;
}

.hero h1 {
  @apply text-5xl md:text-7xl font-bold md:font-extrabold dark:text-white;
}

.hero h1 span {
  @apply text-dark-grey;
}

.hero p {
  @apply mt-5 md:mt-10 mb-5 md:mb-10 w-full md:w-4/5 lg:w-6/12 text-base md:text-2xl text-dark-grey;
}

.hero .btn-container {
  @apply flex items-center gap-4 flex-col md:flex-row;
}

.btn {
  @apply rounded-lg py-4 px-8;
}
