@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/assets/images/gradient-header.svg'),
    url('/assets/images/gradient-footer.svg');
  background-position: center top, center bottom;
  @apply bg-main-white dark:bg-black text-onyx dark:text-white font-inter bg-no-repeat min-h-screen scroll-smooth;
}

.navbar-container {
  @apply flex justify-center w-full z-50;
}

.navbar {
  @apply hidden md:flex fixed mt-8 p-4 justify-between items-center flex-shrink-0 rounded-xl backdrop-blur-xs bg-white-25% dark:bg-dark-navbar border-2 border-white-25% dark:border-0 text-onyx dark:text-light-grey z-50;
  width: 1024px;
  height: 60px;
}

.navbar-item {
  @apply flex gap-6 items-center;
}

.vertical-divider {
  width: 1px;
  height: 24px;

  @apply bg-light-grey dark:bg-white-25%;
}

.navbar-mobile {
  @apply flex items-center md:hidden fixed bottom-10 w-11/12 items-center justify-around bg-dark-navbar dark:bg-dark-navbar-60 border border-[#27262c4d] dark:border-[#27262c4d] text-onyx dark:text-light-grey p-2 rounded-xl z-50 backdrop-blur-xs;
}

.navbar-mobile > * {
  @apply flex items-center;
}

.navbar-mobile .active {
  @apply flex py-2 px-3 bg-black-50% dark:bg-white-10% rounded-xl;
}

.main {
  @apply flex flex-col items-center w-11/12 md:w-4/5 mt-32 md:mt-56 m-auto relative;
}

.intro {
  @apply flex h-96 flex-col mt-0 md:mt-32;
}

.intro h1 {
  @apply text-5xl md:text-7xl font-bold md:font-extrabold dark:text-white;
}

.intro h1 span {
  @apply text-dark-grey;
}

.intro p {
  @apply mt-5 md:mt-10 mb-5 md:mb-10 w-full md:w-4/5 lg:w-6/12 text-base md:text-2xl text-dark-grey;
}

.intro .btn-container {
  @apply flex items-center gap-4 flex-col md:flex-row;
}

.button {
  @apply rounded-lg py-4 px-8 text-center;
}

.intro .btn-container .btn-resume {
  @apply button text-white bg-gradient-dark w-full md:w-fit;
}

.intro .btn-container .btn-touch {
  @apply button text-onyx dark:text-dark-grey bg-faint-white dark:bg-onyx w-full md:w-fit hover:bg-onyx hover:text-faint-white dark:hover:bg-dark-grey dark:hover:text-onyx;
}

.selected-work {
  @apply flex mt-44 md:mt-96 flex-col items-start w-full gap-4 md:gap-8;
}

.selected-work-item {
  @apply flex w-full gap-4 flex-col md:flex-row;
}

.card-img {
  object-fit: cover;
  @apply !w-full;
}

.footer-container {
  @apply flex w-full justify-center pt-[74px] pb-48 md:pb-[42px] border-t border-t-black-10% dark:border-t-white-10% mt-6;
}

.footer-content {
  @apply flex w-4/5 justify-between flex-col-reverse md:flex-row gap-6 md:gap-0;
}

.footer-left {
  @apply w-full md:w-3/4 flex flex-col justify-between gap-4 md:gap-0;
}

.footer-right {
  @apply flex justify-between w-1/3 flex-col md:flex-row gap-6 md:gap-0;
}

.footer-right nav {
  @apply flex flex-col leading-6 gap-2;
}

.footer-title {
  @apply text-onyx dark:text-white text-base capitalize opacity-100;
}
